"""Config bundle passed to <my_project> application code."""

from dataclasses import dataclass, field

from <my_project>.config.app import APP_RC
from <my_project>.config.sections.app import AppSettings


@APP_RC.bundle
@dataclass(kw_only=True)
class <MyProject>Config:
    """Application settings grouped by config section.

    :param app: The starter application's settings.
    """

    app: AppSettings = field(default_factory=AppSettings)
